

.form {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  flex-flow: column;
  gap: 1em;
  min-width: 350px;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #cb7d94;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
  font-size: 20px;
}

#h2-sign-in {
  text-decoration: underline 1.5px;
  text-align: center;
}

.form input[type="text"],
.form input[type="password"] {
  font-size: 20px;
  padding: 0.5em;
  background-color: #fff;
  color: #a52c83;
  border: 1px solid #800064;
  border-radius: 20px;
}

.form input[type="submit"]:hover {
  background-color: #ce2083;
  color: #fff;
}

button {
  width: auto; 
  font-size: 20px;
  padding: 10px 30px; 
  background-color: #e19dce;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px auto;
}

button:hover {
  background-color: #a854b3;
}

/*!.popup {
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: fixed;
  justify-content: center;
  top: 15%;
  left: 50%;
  flex-flow: column;
  gap: 1em;
  min-width: 250px;
  height: 80px;
  transform: translate(-50%, -50%);
  background-color: #c02150;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}*/

.responseMessage {
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: solid;
}

/*!.loader {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  color: black;
  font-size: 20px;
  font-family: helvetica;
}*/
